body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.new-button {
  height: 40px!important;
  width: 100%;
  text-align-last: left;
}

.card-header {
  display: inline-flex;
  width: 100%;
  height: 12px;
  position: relative!important;
}

.ellipsis-card-button {
  position: absolute!important;
  right: 0px!important;
}

.login-form-forgot {
  float: right;
}

.topbar {
  height: 153px!important;
  margin-left: 250px;
}

.topbar-searchbar-wrapper {
  position: relative!important;
  width: 100%;
}

.topbar-search {
  position: absolute!important;
  top: 17px;
  width: 80%!important; 
}

.topbar-dropdown-user-logout-button {
  position: relative!important;
  left: 90%;
}

.topbar-title {
  color: white!important;
  font-size: 28px;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.signup-form-button {
  width: 100%;
}

.center {
  display: table;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-tabs {
  display: table;
  position: fixed;
  min-width: 320px;
  max-width: 320px;
  width: 320px;
  height: 397.6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar {
  position: fixed;
  min-width: 250px!important;
  max-width: 250px!important;
  width: 250px!important;
  height: 100vh;
  left: 0px;
}

.sidebar-scroll {
  overflow: auto;
  height: 84vh;
}

.home-body {
  padding-left: 100px;
}

.home-title {
  padding: 15vh 0 20vh;
  font-size: 100px;
}

.home-button {
  margin-right: 30px;
}

.topbar-wrapper {
  position: relative;
  height: 153px!important;
}

.card {
  border-radius: 10px !important;
  background-color: #d9f7be !important;
}

.clink-card {
  border-radius: 10px !important;
  background-color: #d9f7be !important;
  color: black;
  text-align: left;
  display: block;
  padding: 12px 16px 12px 12px;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.bookmark-link:link {
  color: black;
}

.bookmark-link:visited {
  color: black;
}

.bookmark-link:hover {
  color: black;
}

.bookmark-link:active {
  color: black;
}

.user-title {
  text-align: left;
  font-size: 24px;
}

.site-layout .site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }
  