body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.new-button {
  height: 40px!important;
  width: 100%;
  text-align-last: left;
}

.card-header {
  display: inline-flex;
  width: 100%;
  position: relative!important;
}

.ellipsis-card-button {
  position: absolute!important;
  right: 0px!important;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.signup-form-button {
  width: 100%;
}

.center-load{
  display: table;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-tabs {
  min-width: 320px;
  max-width: 320px;
  width: 320px;
  height: 397.6px;
  display: table;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar {
  min-width: 250px!important;
  max-width: 250px!important;
  width: 250px!important;
  height: 100vh;
  position: fixed;
  left: 0px;
}

.sidebar-scroll {
  overflow: auto;
  height: 84vh;
}

.home-body {
  padding-left: 100px;
}

.home-title {
  padding: 15vh 0 20vh;
  font-size: 100px;
}

.home-button {
  margin-right: 30px;
}

.topbar-wrapper {
  position: relative;
  height: 153px!important;
}

.card {
  border-radius: 10px !important;
  background-color: pink !important;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.top-search {
  width: 80%!important;
}

.top-button {
  padding: 0px;
  margin: 15px;
  float: right;
  height: 35px;
  padding: 0 5px;
  align-items: center;
}

.top-icon {
  padding: 0px;
  margin: 15px;
  float: right;
  height: 35px;
  padding: 5px 5px 0px;
  font-size: 25px;
  align-items: center;
  color: white !important;
}

.site-layout .site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }
  